* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 2.5vh;
    height: 95vh;
    width: 80vw;
    border-radius: 3%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5), -10px 10px 20px rgba(0, 0, 0, 0.5);
}
#in_main_div{
    width: 100%;
    text-align: center;
}
input{
    width: 70%;
    margin-bottom: 5px;
    height: 25px;
}